---
layout: tutorial_slides
logo: "GTN"

title: "{{ title }}"
questions:
{% for question in questions %}  - "{{ question }}"
{% endfor %}objectives:
{% for objective in objectives %}  - "{{ objective }}"
{% endfor %}time_estimation: "{{ time_estimation }}"
key_points:
{% for key_point in key_points %}  - "{{ key_point }}"
{% endfor %}subtopic: architecture
contributors:
{% for contributor in contributors %}  - {{ contributor }}
{% endfor %}

---
layout: introduction_slides
topic_name: Galaxy Architecture

# {{ title }}

*{{ subtitle }}.*

---

{% for slide in slides %}
{{ slide }}
{% if not loop.last %}

---
{% endif %}
{% endfor %}
