@font-face {
  font-family: 'DIN 1451';
  font-display: swap;
  src: url(../fonts/DIN1451/Altinn-DINCondensed.woff2);
}

@font-face {
  font-family: 'DIN 1451';
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/DIN1451/Altinn-DINCondensed-Bold.woff2);
}
